html
  head
    title= day
    include head.pug
  body
    nav(class="navbar navbar-light" style="background-color: #e3f2fd;")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#")= day
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li
              a(href="/") Home
            li
              a(href="/new") New
            li(class="active")
              a(href="#") Daily Reading
                span(class="sr-only") (current)
            li
              a(href="/random") Random Song
    div(class="margin")
      != content