<!-- song.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit File</title>
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <!-- Bootstrap Theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <!-- personal stylesheet -->
    <script src="utils.js"></script>
    <link rel="stylesheet" href="style.css">
    <script>
      var title = "<%= title %>";
      var type = "<%= type %>";
      var text = "<%= text %>";
      var set_initial_vals = function() {
        $("input#title").val(title);
        if (type == "song") {
          $("input#type_song").prop("checked", true);
          $("input#type_prayer").prop("checked", false);
        } else {
          $("input#type_song").prop("checked", false);
          $("input#type_prayer").prop("checked", true);
        }
      };
      var set_delete_action = function() {
        set_initial_vals();
        $("form#form_edit").attr("action", "/delete");
      };
      $(document).ready(function() {
        set_initial_vals();
        $("textarea").val(unescape(decodeURIComponent(text)));
      });
    </script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" onclick="window.history.back()">back</a>
          <a class="navbar-brand" id="title" style="font-weight:bold" href="#">Edit: <%= title %></a>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="margin">
          <form id="form_edit" method="post" actionn="/edit" role="form">
            <div class="form-group">
              <label for="title">Title</label>
              <input name="title" id="title" type="text" class="form-control">
            </div>
            <div class="radio-inline" style="display: none">
              <label>
                <input type="radio" name="type" id="type_song" value="song">
                Song
              </label>
            </div>
            <div class="radio-inline" style="display: none">
              <label>
                <input type="radio" name="type" id="type_prayer" value="prayer">
                Prayer
              </label>
            </div>
            <div class="form-group">
              <label for="text">Text</label>
              <textarea name="text" id="text" class="form-control" rows="9"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-lg">Save</button>
              <button type="submit" onclick="set_delete_action()" class="btn btn-danger pull-right btn-lg">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
