html
  head
    title Prayers and Songs
    include head.pug
  body
    nav(class="navbar navbar-light" style="background-color: #e3f2fd;")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") Prayers and Songs
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="#") Home
                span(class="sr-only") (current)
            li
              a(href="/new") New
            li
              a(href="/daily") Daily Reading
            li
              a(href="/random") Random Song
    div
      div(class="col-md-1")
      div(class="col-md-5")
        table(class="table table-hover table-condensed")
          thead
            tr
              th Prayers
          tbody
            each title in prayers
              tr
                td 
                  a(href="/prayer?title=" + title.encoded) #{title.display}
      div(class="col-md-5")
        table(class="table table-hover table-condensed")
          thead
            tr
              th Songs
          tbody
            each title in songs
              tr
                td 
                  a(href="/song?title=" + title.encoded) #{title.display}
      div(class="col-md-1")