<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <!-- Bootstrap Theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <!-- personal stylesheet -->
    <link rel="stylesheet" href="style.css">
    <script src="utils.js"></script>
    <script>
      $(document).ready(function() {
      var str_song_list   = "<%= list_songs %>";
      var str_prayer_list = "<%= list_prayers %>";
      var list_songs      = str_song_list.split(",");
      var list_prayers    = str_prayer_list.split(",");
      for (id in list_prayers) {
        prayer = list_prayers[id].split(".txt")[0];
        add_row("prayer", prayer);
      }
      for (id in list_songs) {
        song = list_songs[id].split(".txt")[0];
        add_row("song", song);
      }
      $("#prayers").DataTable();
      $("#songs").DataTable();
      });
    </script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a id="title" href="#"></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="margin">
          <!-- link to daily readings -->
          <table class="table">
            <tr><td><a style="font-weight:bold" href="/daily">Daily Reading</a></td></tr>
          </table>
          <!-- (dynamic) table of prayers -->
          <table id="prayers" class="table">
            <thead><tr><th>Prayers</th></tr></thead>
            <tbody></tbody>
          </table>
          <!-- (dynamic) table of songs -->
          <table id="songs" class="table">
            <thead><tr><th>Songs</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
