html
  head
    title New
    // Bootstrap CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    // Optional Bootstrap theme
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    // JQuery (must include before Bootstrap JS)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    <!-- Bootstrap JS -->
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    // LyricDB style
    link(rel="stylesheet" href="style.css")
  body
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") New
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li
              a(href="/") Home
            li(class="active")
              a(href="#") New
                span(class="sr-only") (current)
            li
              a(href="/daily") Daily Reading
            li
              a(href="/random") Random Song
    div(class="row")
      div(class="col-sm-10 col-sm-offset-1")
        div(class="margin")
          form(id="form_new" method="post" action="/edit" role="form")
            div(class="form-group")
              label(for="title") Title
              input(name="title" id="title" type="text" class="form-control")
            div(class="form-group")
              div(class="radio-inline")
                label
                  input(type="radio" name="type" id="type_song" value="song" checked)
                  p Song
              div(class="radio-inline")
                label
                  input(type="radio" name="type" id="type_song" value="prayer") 
                  p Prayer
            div(class="form-group")
              label(for="text") Text
              textarea(name="text" id="text" class="form-control" rows="20")
            div(class="form-group")
              button(type="submit" class="btn btn-success btn-lg") Save