html
  head
    title New
    include head.pug
  body
    nav(class="navbar navbar-light" style="background-color: #e3f2fd;")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") New
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li
              a(href="/") Home
            li(class="active")
              a(href="#") New
                span(class="sr-only") (current)
            li
              a(href="/daily") Daily Reading
            li
              a(href="/random") Random Song
    div(class="row")
      div(class="col-sm-10 col-sm-offset-1")
        div(class="margin")
          form(id="form_new" method="post" action="/edit" role="form")
            div(class="form-group")
              label(for="title") Title
              input(name="title" id="title" type="text" class="form-control")
            div(class="form-group")
              div(class="radio-inline")
                label
                  input(type="radio" name="type" id="type_song" value="song" checked)
                  p Song
              div(class="radio-inline")
                label
                  input(type="radio" name="type" id="type_song" value="prayer") 
                  p Prayer
            div(class="form-group")
              label(for="text") Text
              textarea(name="text" id="text" class="form-control" rows="20")
            div(class="form-group")
              button(type="submit" class="btn btn-success btn-lg") Save