/* style.css */

a.no-margin-left {
    margin-left: 0px;
}

a.margin-left {
    margin-left: 20px;
}

span.bold {
    font-weight: bold;
}

div.margin {
    margin: 10px;
}

table.margin {
    margin-top: 30px;
}