/* style.css */

a.no-margin-left {
    margin-left: 0px;
}

a.books {
    margin-left: 20px;
    text-transform: uppercase;
}

span.bold {
    font-weight: bold;
}

div.row {
    font-size: large;
}

div.margin {
    margin: 10px;
}

div#text {
    /*text-align: center;*/
}

nav {
    font-size: large;
}

body {
    background: #D1D1D1;
}

table {
    background: white;
}

div.dataTables_wrapper {
    margin-top: 30px;
}

.form-control {
    font-size: large;
}

input#title {
    margin-bottom: 15px;
}